.container.text-center
  .row
    = image_tag "/images/events/gitlab-commit/2020-hero4.jpg"
    .hero-content
      %h2{style: "font-size: 3.8em; margin-bottom: .2em"} Commit: You belong here

      -# The above variable "expiration_date" automatically disables related buttons
      -# expiration_date should be specified using the ISO 8601 date format, YYY-MM-DD
      -# Example uses include when the CFP expires or when tickets can no longer be purchased.
      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")

      %h2{style: "font-size: 3em;"} Aug 26th
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }
        :javascript
            window.EBWidgets.createWidget(
            {
              widgetType: 'checkout',
              eventId: '105130995638',
              modal: true,
              modalTriggerElementId: 'eventbrite-widget-modal-trigger-105130995638',
              onOrderComplete: function() 
              {
                console.log('Eventbrite Virtual Commit 2020 order complete');
              }
            });
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-tickets-105130995638#tickets" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger-105130995638" type="button" class="btn cta-btn orange u-margin-top-sm" style="border: 1px solid #ffffff;">#{current_page.data.header_primary_cta_text}</button>
            <noscript>#{current_page.data.header_primary_cta_text}</a></noscript>
