.container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg"
    .col-md-6.u-margin-bottom-xs
      %h1 Commit to better DevOps
      %p 
        Commit is one immersive day of practical DevOps strategies shared by developers, ops pros, engineers, managers and leaders. You’ll hear about problems solved, cultures changed, and release times halved.  Storys about how Security ‘belongs’ in DevOps, how software innovation ‘belongs’ in large organizations and startups, how we all are part of a community where everyone can contribute.
        %strong
          Come and be part of a community of people just as passionate as you are about DevOps.
      -# The above variable "expiration_date" automatically disables related buttons
      -# expiration_date should be specified using the ISO 8601 date format, YYY-MM-DD
      -# Example uses include when the CFP expires or when tickets can no longer be purchased.
      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")

      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }
        :javascript
            window.EBWidgets.createWidget(
            {
              widgetType: 'checkout',
              eventId: '105130995638',
              modal: true,
              modalTriggerElementId: 'eventbrite-widget-modal-trigger-105130995638',
              onOrderComplete: function() 
              {
                console.log('Eventbrite Virtual Commit 2020 order complete');
              }
            });
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-tickets-105130995638#tickets" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger-105130995638" type="button" class="btn cta-btn orange" style="border: 1px solid #ffffff;">Register now</button>
            <noscript>Register now</a></noscript>
