@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "components/flex-row";

.pricing-page {
  $color-purple: #6e49cb;
  $color-purple-dark: darken($color-purple, 10%);
  $color-light: #868686;
  $color-tab-inactive: #999a99;
  $color-feature-unavailable: #a7a7a7;

  background-color: $color-white;
  color: $color-gray-dark;
  font-size: 14px;
  margin-bottom: -80px;
  padding-bottom: 115px;
  text-align: center;

  .btn {
    background-color: $color-purple;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 12px 16px;

    &:focus,
    &:hover {
      background-color: $color-purple-dark;
    }
  }

  a {
    color: $color-purple;
  }

  .header {
    margin-bottom: 32px;
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }

  .container {
    width: auto;
  }

  .plans {
    justify-content: center;
  }

  .plan {
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: none;
    flex-direction: column;
    margin: 0 24px 24px 24px;
    padding: 0;

    @media (min-width: 992px) {
      margin: 0 8px;
      max-width: 300px;
    }

    .image {
      background-color: $body-bg;
      display: flex;
      height: 265px;
      justify-content: center;
    }

    .content {
      border-bottom: 1px solid $border-color;
      display: flex;
      flex-direction: column;
      height: 330px;
      margin: 0 24px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-top: 32px;
    }

    .description {
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      margin-top: 8px;
    }

    .price {
      align-items: center;
      color: $color-purple;
      display: flex;
      font-size: 62px;
      font-weight: 700;
      height: 78px;
      justify-content: center;
      margin-top: 24px;
    }

    .price-monthly {
      line-height: 17px;
    }

    .price-annually {
      font-size: 12px;
      font-weight: 300;
      line-height: 17px;
    }

    .btn {
      margin-bottom: 24px;
      margin-top: auto;
    }

    .features {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 24px;
      text-align: left;
    }

    .feature-title {
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin-bottom: 24px;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid $border-color;
      margin-top: 0;
      padding: 16px 0;
    }

    .compare {
      color: $color-purple;
      margin-bottom: 0;
      margin-top: auto;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .customer-logos-container {
    padding: 80px 0 0;
  }

  .faq {
    margin-bottom: 80px;

    .faq-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
    }

    .faq-container {
      flex-grow: 1;
      text-align: left;

      @media (min-width: 992px) {
        max-width: 600px;
      }

      a {
        color: $color-gray-dark;
      }

      .faq-answer {
        ul {
          background: $color-gray-extra-light-alt;
          border-radius: 3px;
          padding: 1px 10px 10px 40px;
        }
      }
    }
  }

  .contact {
    h1 {
      margin: 0;
    }

    .btn {
      margin-top: 24px;
      width: 140px;
    }
  }

  .modal {
    .modal-dialog {
      align-items: center;
      display: flex;
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }

    .modal-header {
      border: 0;
      display: flex;
      justify-content: flex-end;
      padding: 10px 10px 0 16px;

      .close {
        border: 0;
        font-size: 24px;
        margin-top: 0;
      }
    }

    .modal-body {
      display: flex;
      padding: 0 16px 24px;

      .hosted,
      .self-managed {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .hosted {
        border-right: 1px solid $border-color;
        padding-right: 16px;
      }

      .self-managed {
        padding-left: 16px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .subtitle {
        margin-bottom: 24px;
      }

      .logo {
        background-color: $body-bg;
        border-radius: 50%;
        height: 150px;
        margin-bottom: 24px;
        width: 150px;

        svg {
          width: 75%;
        }
      }

      .setup {
        color: $color-light;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .explanation {
        color: $color-light;
        flex-grow: 1;
        line-height: 18px;
        margin-bottom: 24px;
      }

      .button {
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
