!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body.blank-body
    = partial "includes/google/gtm"
    = yield
    %footer.footer
      %a{ href: '/' }
        = partial "includes/logos/footer_logo.svg"
      .animated.container
        = partial "includes/layout/footer-social-media"
    %span.footer-after-outer-wrapper
      %span.footer-after-inner-wrapper
        %span.footer-after-0
        %span.footer-after-1
        %span.footer-after-2
        %span.footer-after-3
        %span.footer-after-4
        %span.footer-after-5
        %span.footer-after-6
        %span.footer-after-7
        %span.footer-after-8
        %span.footer-after-9
    = partial "includes/layout/scripts"

%script{ src: "/javascripts/cbextras.js", type: "text/javascript", "data-cookieconsent": "ignore" }
