---
title: GitLab Open Source Program
suppress_header: true
extra_css:
  - open-source.css
---

<div class="blank-header">
  <img class='image-border image-border-left' src='/images/home/icons-pattern-left.svg' />
  <img class='image-border image-border-right' src='/images/home/icons-pattern-right.svg' />
  <div class="header-content">
    <img src="/images/icons/explore-open-source.svg" alt="GitLab for open source svg">
    <h1>Join the GitLab for Open Source Program</h1>
    <p>Our top tiers are free for Open Source projects</p>
  </div>
</div>

<div class="gitlab-content-container">
  <div class="flex-container flex-column-md">
    <div class="program-content">
      <p>GitLab exists today in large part thanks to the work of hundreds of thousands of open source contributors around the world. To give back to this community, we want to help their teams be more efficient, secure, and productive by allowing them to use GitLab's top capabilities.</p>
      <h3>Requirements</h3>
      <ol>
        <li><a href="https://opensource.org/licenses/category" target="_blank">OSI-approved open source license</a> -- All of the code you write through this project must be published under an OSI-approved license</li>
        <li>Non-profit -- Your project must not seek to make a profit. Accepting donations to sustain your efforts is ok</li>
        <li><a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">Publicly visible</a> -- Your GitLab.com project or self-hosted instance <i>and</i> your source code must be publicly visible and publicly available</li>
      </ol>
      <h3>Additional information</h3>
      <ol>
        <li>All <a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">public projects</a> on GitLab.com automatically receive Gold functionality at the project level. Apply to this program if you need Gold functionality at the group level.</li>
        <li>Free GitLab Ultimate and Gold accounts do not include <a href="https://about.gitlab.com/support/" target="_blank">support</a>. However, you can purchase support for 95% off, at $4.95 per user per month.</li>
        <li>The number of seats is the number of different users that will use this license during the next year.</li>
        <li>These licenses need to be renewed annually.</li>
        <li>If you have any additional questions regarding this program, feel free to reach us at <a href="mailto:opensource@gitlab.com" target="_blank">opensource@gitlab.com</a>.</li>
      </ol>
      <h3>Application process</h3>
 	      <h4>Create your project</h4>
      <ol> 
        <li>Sign up for a Free account (can be hosted or self-hosted), or enroll in a free trial for our top tiers</li>
        <li>Create your project and set its visibility to <a href="https://docs.gitlab.com/ee/public_access/public_access.html" target="_blank">Public</a>. If your project is self-hosted, make sure your instance is publicly accessible</li>
        <li>Add your OSI-approved license information to the project’s LICENSE file</li>
      </ol>
      <h4>Verify program requirements</h4>
        <p>We ask that you create a Merge Request with information verifying that your project meets our program's requirements.</p>
        <ol>
          <li><a href="https://gitlab.com/users/sign_in" target="_blank">Create a gitlab.com account</a> if you do not have one already</li>
          <li><a href="https://gitlab.com/gitlab-com/marketing/community-relations/gitlab-oss/-/forks/new" target="_blank">Create a fork of this project</a></li>
          <li>Edit the <a href="https://gitlab.com/gitlab-com/marketing/community-relations/gitlab-oss/blob/master/data/oss_projects.yml" target="_blank">oss_projects.yml file</a> to add an entry for your project</li>
          <li>Commit the changes to your fork and submit a new Merge Request against <a href="https://gitlab.com/gitlab-com/marketing/community-relations/gitlab-oss/tree/master" target="_blank">this project</a>. Save the link to this Merge Request as you’ll need it for the next step of the process.</li>
        </ol>
      <h4>Apply to the program</h4>
      <ol>
        <li>Submit the application form on the right side of this page with a link to the Merge Request created in the previous step</li>
        <li>You can expect an initial response from our team within 5 business days. You may be asked to provide further information</li>
      </ol>
      <h4>Get your licenses</h4>
	       <p>If your application is accepted, we’ll work with you to grant your license. Here’s what to expect.</p>
      <ol>
        <li>Sign a quote. The balance will be zero unless you decide to add on paid support</li>
        <li>Accept the End User License Agreement (EULA) that will be sent to your email</li>
        <li>Receive the license key (for Ultimate) or further instructions (for Gold)</li>
      </ol>
      <h3>Renewal process</h3>
        <p>Please send an email to us via <a href="mailto:opensource@gitlab.com" target="_blank">opensource@gitlab.com</a> approximately one month before your license expires. Here's what to include:</p>
        <ol> 
            <li>Name of your organization or project</li>
            <li>Number of seats you're renewing. If needed, you can request additional seats</li>
            <li>Any change of ownership to the account. If needed, please let us know at this time</li>
        </ol>
        <p>We'll be in touch with you shortly!</p>
    </div>
    <div class="form-container" id="gitlab-oss-form">
      <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
      <form action="" id="mktoForm_1675"></form>
      <script>
        MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1675, function(form) {
          form.onSuccess(function() {
            form.getFormElem().hide();
            $('.confirmform').attr('style', 'visibility: visible');
            return false;
          });
        });
      </script>
      <div class="confirmform" style="visibility:hidden;">
        <h3>Submission received!</h3>
        <p>We will be intouch soon.</p>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="text-center">Frequently Asked Questions</h2>
    <div class="faq-holder clearfix">
      <ol class="faq-container list-unstyled">
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Do I have to apply for every OSS project separately?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>The subscription is going to be for a group, so only one application will be enough. Apply with your most representative project.</p>
            </div>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Can I use this license for my non-open source projects as well?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>No. The GitLab license can be used only for the open source projects it was approved for.</p>
            </div>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Is GitLab available in my country?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>GitLab is available to people all over the world in <a href="https://translate.gitlab.com/<">many languages</a>. However, since we are a U.S.-based company, we do not offer our services in <a href="/handbook/business-ops/trade-compliance/#effect-on-customer-facing-web-pages">U.S. embargoed countries</a>.
            </div>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Why can't I submit my form?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>If you live in Ukraine, you'll need to verify that you do not live in the Crimean Penninsula, since Crimea is on the U.S. embargo list. If you list your country as "Ukraine" our form won't automatically let you submit. If you do not live in Crimea, please fill out the application form and add your full address in the "billing address" section. Provide your city in the city drop down, and choose a different country (not Ukraine) in the country drop-down. You should now be able to submit the form.</p>
            </div>
          </div>
        </li>
      </ol>
      <ol class="faq-container list-unstyled">
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Who gets counted in the subscription?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>Please see our <a href="/pricing/licensing-faq/#who-gets-counted-in-the-subscription">licensing and subscription FAQ</a> for the detailed explanation.</p>
            </div>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              Why can't I see an application form on this page?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>Some web browsers and privacy extensions block the application form because they identify it as a pop-up. Please disable the pop-up blocker on this page, refresh the page, and check again.</p>
            </div>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-inner-item">
            <a class="faq-question js-faq-question" href="#">
              What are the benefits for projects hosted on GitLab.com?
              <i class="fa fa-angle-down pull-right"></i>
            </a>
            <div class="faq-answer">
              <p>While all public projects hosted on GitLab.com already have access to Gold features at the project level, this does not include group-level features.</p>
              <p>The Open Source license provides the additional ability to use Gold group-level features (e.g. Epics, Roadmap).</p>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
