---
title: System Requirements for GitLab Professional Services Training Sessions 
suppress_header: true
description: "System Requirements for GitLab Professional Services Training Sessions"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 System Requirements for GitLab Professional Services Training Sessions  

.wrapper
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-12
        %h2 Pre-Training System Requirements for Attendees
        %p In advance of attending training sessions delivered by GitLab Professional Services, there are a few tasks that need to be done on your side to ensure a smooth learning experience. Most of the training modules will include a presentation and demo which you can follow along with on your system, as well as one or more hands-on labs. To ensure you can practice what you are learning, you need to use your own laptop/system with Docker and Git installed. Please review the following requirements ahead of your scheduled training session.
        %h3 Attendee Laptops 
        %p Here are some things you should take care of ahead of the session to make sure your laptop system is ready. 
        %ul
          %li 
            %strong System: 
            Each attendee must bring their own laptop running macOS, Linux, or Windows.
            Please review the 
            %a{href: "https://docs.gitlab.com/ee/install/requirements.html", target: "_blank"} system requirements here 
            to confirm your laptop meets them.
          %li 
            %strong Internet Access: 
            Your laptop should have internet access and at least http, https, ftp, and ssh open outbound.
          %li 
            %strong Docker: 
            Install Docker on your 
            %a{href: "https://www.docker.com/products/docker-desktop", target: "_blank"} laptop from here
          %li 
            %strong Verify Git installation: 
            Your laptop likely already has Git installed. To verify, follow these instructions.
          %ul
            %li 
              %strong macOS:
              Type 
              %code git
              in the Terminal application. If it’s not installed, it will prompt you to install it.
            %li 
              %strong Linux: 
              %code sudo yum install git-all 
              or 
              %code sudo apt-get install git-all
            %li 
              %strong Windows 10: 
              %a{href: "https://docs.microsoft.com/en-us/windows/wsl/install-win10", target: "_blank"} Windows Subsystem for Linux
            %li 
              %strong Other versions of Windows: 
              %a{href: "https://git-for-windows.github.io", target: "_blank"} See Git for Windows
          %li 
            Generate SSH keys: 
            %a{href: "https://docs.gitlab.com/ee/ssh/", target: "_blank"} Follow the instructions here
        %h3 GitLab Demo Cloud Access
        %p Our trainers will set up a unique invitation code for course attendees to access the GitLab Demo Cloud, which you will use as a sandbox during the training sessions. You will be able to create credentials to access the Demo Cloud using the invitation code. This will enable you to access GitLab's paid features and capabilities during the training session that are not available with the free version of GitLab. To make sure you can access the site ahead of time, visit <a href= "https://gitlabdemo.com/login"> the GitLab Demo Cloud login page</a> and enter your invitation code.
      
        %h3 Course-Specific Requirements
        %h4 GitLab for System Administrators
        %ul
          %li 
            %strong Docker: 
            Course attendees use Docker installed on their own systems to set up a GitLab sandbox instance, instead of the GitLab Demo Cloud sandbox. This is why it's important to install Docker prior to the start of the training session so that you can fully participate in the hands-on activities during the session. If you are not able to install Docker on your system, you will still be able to view the trainer's demonstration of the steps during the session.
          %li 
            %strong OS: 
            Non-Windows, Mac OS X preferred
          %li 
            %strong Browser:
            No Internet Explorer
        %h4 GitLab CI/CD Training
        %ul
          %li 
            %strong GitLab.com Access: 
            Access to a GitLab account is required for each attendee. This can be your own instance, GtiLab.com, or a Docker sandbox.
          %li 
            %strong Browser:
            No Internet Explorer
        %h4 GitLab InnerSourcing Training
        %p 
        %strong Licenses:
        The following features covered in this session are only available for Silver/Gold & Premier/Ultimate GitLab Licenses:
        %ul
          %li Epics
          %li Incremental Rollout
          %li Feature Flags
          %li Release Orchestration
          %li Package Registry
          %li Container Registry
          %li Dependency Proxy
          %li Dependency Firewall
